

# The syntax is the following:
# threshold gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>
# event_filter gen_id <gen_id>, sig_id <sig_id>, type <limit|threshold|both>, track <by_src|by_dst>, count <n>, seconds <t>


#kerb5 weak encryption rule
#threshold gen_id 1, sig_id 2226001, type threshold, track by_dst, count 1, seconds 15

#cross site scripting
#threshold gen_id 1, sig_id 2009714, type threshold, track by_dst, count 1, seconds 15


# Limit to 10 alerts every 20 seconds for each source host
threshold gen_id 0, sig_id 0, type threshold, track by_src, count 10, seconds 20

# Limit to 10 alerts every 20 seconds for each dst host
threshold gen_id 0, sig_id 0, type threshold, track by_dst, count 10, seconds 20
